<!-- Simple header with scrollable tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Title</span>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Popular</a>
      <a href="#scroll-tab-2" class="mdl-layout__tab">Coming Soon</a>
      <a href="#scroll-tab-3" class="mdl-layout__tab">Near Me</a>
      <a href="#scroll-tab-4" class="mdl-layout__tab">Just Announced</a>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
      <div class="page-content">
        <h1>Festivals Index</h1>
        <div class="festival-card">
          <% @res[:events].each do |e| %>
              <div class="festival-card-container mdl-shadow--4dp">
                <div class="festival-card-image-tile"
                  <% if e[:performers][0][:images][:huge] === nil %>
                      style='background-image: url("https://d49r1np2lhhxv.cloudfront.net/www/photos/EXITFestival2017_V1_1bxm6p2.jpg"); 
                      background-repeat: no-repeat; background-size: cover;' 
                  <% else %>
                      style='background-image: url(<%= e[:performers][0][:images][:huge] %>); 
                      background-repeat: no-repeat; background-size: cover;'
                  <% end %>
                  >
                  <div class="festival-title">
                    <h5><%= e[:title]%></h5>
                  </div>
                  <div class="overlay mdl-color--primary"></div>
                </div>
                <div class="festival-info">
                  <div><h5><%= e[:venue][:name]%></h5></div>
                  <div class="festival-location mdl-color-text--accent">
                    <%= e[:venue][:display_location]%>
                  </div>
                </div>

                <div class="festival-time mdl-color-text--accent"><%= e[:datetime_local].to_time.strftime("%a %b %d, %Y") %></div>
                <div class="festival-time mdl-color-text--accent"><%= e[:datetime_local].to_time.strftime("%-I:%M %p") %></div>
                <br>
                <div class="tickets-link">
                  <a href=<%=e[:url] %> target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                      BUY TICKETS
                  </a>
                  <% if e[:stats][:average_price] === nil %>
                        <span>Price: Not Available</span>
                    <% else %>
                        <span>starting at: $<%= e[:stats][:lowest_price].round%>.00</span>
                    <% end %>
                  
                  <div class="tickets-link" id="link-btn">
                    <a href=<%=festival_path(e[:id]) %> class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--accent mdl-color--primary">
                        LEARN MORE
                    </a>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="scroll-tab-2">
      <div class="page-content">
          <h1>Festivals Index</h1>
        <div class="festival-card">
          <% @recent[:events].each do |e| %>
              <div class="festival-card-container mdl-shadow--4dp">
                <div class="festival-card-image-tile"
                  <% if e[:performers][0][:images][:huge] === nil %>
                      style='background-image: url("https://d49r1np2lhhxv.cloudfront.net/www/photos/EXITFestival2017_V1_1bxm6p2.jpg"); 
                      background-repeat: no-repeat; background-size: cover;' 
                  <% else %>
                      style='background-image: url(<%= e[:performers][0][:images][:huge] %>); 
                      background-repeat: no-repeat; background-size: cover;'
                  <% end %>
                  >
                  <div class="festival-title">
                    <h5><%= e[:title]%></h5>
                  </div>
                  <div class="overlay mdl-color--primary"></div>
                </div>
                <div class="festival-info">
                  <div><h5><%= e[:venue][:name]%></h5></div>
                  <div class="festival-location mdl-color-text--accent">
                    <%= e[:venue][:display_location]%>
                  </div>
                </div>

                <div class="festival-time mdl-color-text--accent"><%= e[:datetime_local].to_time.strftime("%a %b %d, %Y") %></div>
                <div class="festival-time mdl-color-text--accent"><%= e[:datetime_local].to_time.strftime("%-I:%M %p") %></div>
                <br>
                <div class="tickets-link">
                  <a href=<%=e[:url] %> target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                      BUY TICKETS
                  </a>
                  <% if e[:stats][:average_price] === nil %>
                        <span>Price: Not Available</span>
                    <% else %>
                        <span>starting at: $<%= e[:stats][:lowest_price].round%>.00</span>
                    <% end %>
                  
                  <div class="tickets-link" id="link-btn">
                    <a href=<%=festival_path(e[:id]) %> class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--accent mdl-color--primary">
                        LEARN MORE
                    </a>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="scroll-tab-3">
      <div class="page-content">
        <h1>Near Me</h1>
        <div class="festival-card">
          <% @near[:events].each do |e| %>
              <div class="festival-card-container mdl-shadow--4dp">
                <div class="festival-card-image-tile"
                  <% if e[:performers][0][:images][:huge] === nil %>
                      style='background-image: url("https://d49r1np2lhhxv.cloudfront.net/www/photos/EXITFestival2017_V1_1bxm6p2.jpg"); 
                      background-repeat: no-repeat; background-size: cover;' 
                  <% else %>
                      style='background-image: url(<%= e[:performers][0][:images][:huge] %>); 
                      background-repeat: no-repeat; background-size: cover;'
                  <% end %>
                  >
                  <div class="festival-title">
                    <h5><%= e[:title]%></h5>
                  </div>
                  <div class="overlay mdl-color--primary"></div>
                </div>
                <div class="festival-info">
                  <div><h5><%= e[:venue][:name]%></h5></div>
                  <div class="festival-location mdl-color-text--accent">
                    <%= e[:venue][:display_location]%>
                  </div>
                </div>

                <div class="festival-time mdl-color-text--accent"><%= e[:datetime_local].to_time.strftime("%a %b %d, %Y") %></div>
                <div class="festival-time mdl-color-text--accent"><%= e[:datetime_local].to_time.strftime("%-I:%M %p") %></div>
                <br>
                <div class="tickets-link">
                  <a href=<%=e[:url] %> target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                      BUY TICKETS
                  </a>
                  <% if e[:stats][:average_price] === nil %>
                        <span>Price: Not Available</span>
                    <% else %>
                        <span>starting at: $<%= e[:stats][:lowest_price].round%>.00</span>
                    <% end %>
                  
                  <div class="tickets-link" id="link-btn">
                    <a href=<%=festival_path(e[:id]) %> class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--accent mdl-color--primary">
                        LEARN MORE
                    </a>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="scroll-tab-4">
      <div class="page-content">
        <h1>Recently Announced</h1>
        <div class="festival-card">
          <% @newly[:events].each do |e| %>
              <div class="festival-card-container mdl-shadow--4dp">
                <div class="festival-card-image-tile"
                  <% if e[:performers][0][:images][:huge] === nil %>
                      style='background-image: url("https://d49r1np2lhhxv.cloudfront.net/www/photos/EXITFestival2017_V1_1bxm6p2.jpg"); 
                      background-repeat: no-repeat; background-size: cover;' 
                  <% else %>
                      style='background-image: url(<%= e[:performers][0][:images][:huge] %>); 
                      background-repeat: no-repeat; background-size: cover;'
                  <% end %>
                  >
                  <div class="festival-title">
                    <h5><%= e[:title]%></h5>
                  </div>
                  <div class="overlay mdl-color--primary"></div>
                </div>
                <div class="festival-info">
                  <div><h5><%= e[:venue][:name]%></h5></div>
                  <div class="festival-location mdl-color-text--accent">
                    <%= e[:venue][:display_location]%>
                  </div>
                </div>

                <div class="festival-time mdl-color-text--accent"><%= e[:datetime_local].to_time.strftime("%a %b %d, %Y") %></div>
                <div class="festival-time mdl-color-text--accent"><%= e[:datetime_local].to_time.strftime("%-I:%M %p") %></div>
                <br>
                <div class="tickets-link">
                  <a href=<%=e[:url] %> target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                      BUY TICKETS
                  </a>
                  <% if e[:stats][:average_price] === nil %>
                        <span>Price: Not Available</span>
                    <% else %>
                        <span>starting at: $<%= e[:stats][:lowest_price].round%>.00</span>
                    <% end %>
                  
                  <div class="tickets-link" id="link-btn">
                    <a href=<%=festival_path(e[:id]) %> class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--accent mdl-color--primary">
                        LEARN MORE
                    </a>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </section>
  </main>
</div>