<h1>Festivals Index</h1>
<% @res[:events].each do |e| %>
    <% if e[:performers][0][:images][:huge] === nil %>
        <img src="https://d49r1np2lhhxv.cloudfront.net/www/photos/EXITFestival2017_V1_1bxm6p2.jpg" />
    <% else %>
        <img src=<%= e[:performers][0][:images][:huge] %> />
    <% end %>
        <br>    
        <div><%= e[:short_title]%></div>
        <br>
        <div><%= e[:venue][:display_location]%></div>
        <br>
        <% e[:performers].each do |p|%>
            <div><%= p[:short_name]%></div>
        <% end %>
        <div></div>
        <br>
        <div><%= e[:datetime_local].to_date.strftime("%B %d, %Y") %></div>
        <%= link_to 'MORE', festival_path(e[:id]) %>
        <br>
<% end %>

