<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title"><%= link_to 'Stretto', root_path %> </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href=<%= festivals_path%>>Explore</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "mdl-navigation__link") %>
      <% else %>
        <%= link_to('Login', new_user_session_path, class: "mdl-navigation__link") %>
      <% end %>
    </nav>
  </div>

<div class="fav-background">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--primary">
    <% @faves.each do |f| %>
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric mdl-color-text--purple-50 table_data" style="font-size: 14pt; font-weight: 200;"><%= f[:name] %></th>
                <th class="mdl-color-text--purple-50" style="font-size: 14pt; font-weight: 200;"><%= f[:venue] %></th>
                <th class="mdl-color-text--purple-50" style="font-size: 14pt; font-weight: 200;"><%= f[:location] %></th>
                <th class="mdl-color-text--purple-50" style="font-size: 14pt; font-weight: 200;"><%= f[:datetime] %></th>
                <th class="mdl-color-text--purple-50" style="font-size: 14pt;"><i class="material-icons" style="font-weight: 800;">clear</i></th>
            </tr>
        </thead>
    <% end %>
    </table>
</div>