<h2>This is the single festival page</h2>
<br>
<div><img src=<%= @res[:performers][0][:image] %> /></div>
<br>
<%= @res[:title]%>
<br>
<br>
<img src=<%= Wikipedia.find(@res[:venue][:display_location]).image_urls[1]%> style="height: 40%; 
    width: 40%;" />
<br>
<%= @res[:venue][:name] %>
<br>
<%= @res[:venue][:display_location] %>
<%= @res[:venue][:address] %>
<br>
<%= @res[:datetime_local].to_date.strftime("%B %d, %Y") %>
<br>
<a href=<%= @res[:url]%> target="_blank">BUY TICKETS</a>
<br>
<br>
<% @res[:performers].each do |p|%>
    <% p[:genres].to_a.each do |g| %>
        <%= g[:name] %>
    <% end %>
    <% if @res[:short_title].split(" ")[0].downcase != p[:short_name].split(" ")[0].downcase %>
        <div><%= p[:short_name]%></div>
    <% end %>
    <br>
<% end %>
<br>
<h1>Recommendations</h1>
<% @rec[:recommendations].each do |r| %>
    <div><img src=<%= r[:performer][:image] %> /></div>
    <div><%= r[:performer][:short_name] %></div>
    <br>
    
<% end %>


