<h2>This is the single festival page</h2>
<br>
<div><img src=<%= @res[:performers][0][:image] %> /></div>
<br>
<%= @res[:title]%>
<br>
<br>
<%= @res[:venue][:name] %>
<br>
<%= @res[:venue][:display_location] %>
<%= @res[:venue][:address] %>
<br>
<img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @res[:venue][:location][:lat] %>,<%= @res[:venue][:location][:lon] %>&zoom=15&size=600x300&maptype=roadmap
&markers=size:mid%7Ccolor:0xFFFF00%7C<%= @res[:venue][:location][:lat] %>,<%= @res[:venue][:location][:lon] %>
&key=AIzaSyBRhqTqNO6T-XZ-tZ2TJjPidP3QcNX5yq4" />
<br>
<%= @res[:datetime_local].to_date.strftime("%B %d, %Y") %>
<br>
<a href=<%= @res[:url]%> target="_blank">BUY TICKETS</a>
<br>
<br>
<% @res[:performers].each do |p|%>
    <% p[:genres].to_a.each do |g| %>
        <%= g[:name] %>
    <% end %>
    <% if @res[:short_title].split(" ")[0].downcase != p[:short_name].split(" ")[0].downcase %>
        <div><%= p[:short_name]%></div>
    <% end %>
    <br>
<% end %>
<br>
<h1>Recommendations</h1>
<% @rec[:recommendations].each do |r| %>
    <div><img src=<%= r[:performer][:image] %> /></div>
    <div><%= r[:performer][:short_name] %></div>
    <br>
    
<% end %>


