<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title"><%= link_to 'Stretto', root_path %> </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link mdl-color-text--white" href=<%= festivals_path%>>Explore</a>
        <% if user_signed_in? %>
        <%= link_to('Profile', profile_path, class: "mdl-navigation__link mdl-color-text--white") %>
        <%= link_to('Favorites', saved_path, class: "mdl-navigation__link mdl-color-text--white") %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "mdl-navigation__link mdl-color-text--white") %>
        <% else %>
        <%= link_to('Login', new_user_session_path, class: "mdl-navigation__link mdl-color-text--white") %>
      <% end %>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer mdl-color--grey-900">
    <span class="mdl-layout-title mdl-color-text--accent">Stretto</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link mdl-color-text--primary" href=<%= festivals_path %>>Explore</a>
      <% if user_signed_in? %>
        <a class="mdl-navigation__link mdl-color-text--primary" href=<%= saved_path(current_user.id) %>>Favorites</a>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "mdl-navigation__link mdl-color-text--primary") %>
      <% else %>
        <%= link_to('Login', new_user_session_path, class: "mdl-navigation__link mdl-color-text--primary") %>
      <% end %>
    </nav>
  </div>
<h2>This is the user profile page...</h2>